@model KeepWriting.ViewModels.EventoViewModel

@{
    ViewBag.Title = "Excluir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Excluir</h2>

<h3>Tem certeza que deseja excluir?</h3>
<div>
    <h4>Evento Literário</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imagem)
        </dt>

        @if (Model.Imagem != null)
        {
            <dd>
                @{
                    var base64 = Convert.ToBase64String(Model.Imagem);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                }
                <img src='@imgSrc' style="max-width:100px; max-height:100px;" />
            </dd>
        }
        else
        {
            <dd>
                <img src='~/Imagens/capaHistoria.png' style="max-width:100px; max-height:100px;" />
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataFim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Local)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Local)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Meus eventos", "MeusEventos")
        </div>
    }
</div>
